<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="/static/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-6">
        <h1 class="text-info">
          COIC Housing Dashboard Year Selection
        </h1>
      </div>
      <div class="col-6">
        <form  action="https://coic-housing.herokuapp.com/update_gsheet" method="GET">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Year</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="year">
              <option selected>Choose...</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="pwd">Password</label>
            </div>
            <input class="form-control" type="password" id="pwd" name="pword" required/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
